<form [formGroup]='form'>
    <input type="radio" value='1' formControlName='radio'>
    <input type="radio" value='2' [attr.disabled]="!this.formData.select1.active || null" formControlName='radio'>
    <input type="radio" value='3' formControlName='radio' (click)="openDialogWithAttribute()">

    <input #input *ngIf="form.controls.radio.value === '2'" type="file" formControlName='file' accept=".json"
        (input)="saveFile($event)">



    <button (click)="onPreviewBtnClick($event)">Preview</button>
    <button (click)="onNextBtnClick($event)" [disabled]='!this.form.valid'>Next</button>
</form>