<button *ngIf="attribute" [disabled]="productForm.valid ? canAddNewFormGroup : true" (click)="saveForm()">Save</button>
<form *ngIf="attribute" [formGroup]="productForm">
    <table>
        <tr>
            <th> * </th>
            <th><button [disabled]="!isAllCurrentFormGrupValid || !canAddNewFormGroup"
                    (click)="addQuantity()">Add</button></th>
        </tr>
        <tr *ngFor="let formGroupName of controls; let i = index" formGroupName="{{formGroupName}}">
            <td>
                {{controls.length - i}}
            </td>
            <td>
                <div *ngFor="let control of attribute; let i = index">
                    <input type="text" [readonly]='isReadOnly(formGroupName)' formControlName="{{control.attr}}"
                        placeholder="{{control.name}}">
                </div>
            </td>
            <td>
                <button (click)="removeQuantity(formGroupName)">Remove</button>
            </td>
        </tr>
    </table>
</form>
<div *ngIf="attribute">
    {{attribute | json}}
</div>